.coontenedor_form_reco {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dbdbdb;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    padding: 30px;
    width: 500px;
    max-width: 90%;
    text-align: center;
}

.coontenedor_form_reco .btn_cerrar {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.coontenedor_form_reco .btn_cerrar img {
    width: 24px;
    height: 24px;
}

.coontenedor_form_reco h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#form-reco {
    margin-top: 20px;
    padding: 0px 20px;
}

.contenedor_form_datos_reco {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
    overflow-y: auto;
    max-height: 300px;
    text-align: left;
}

.contenedor_form_datos_reco div {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.contenedor_form_datos_reco label {
    margin-bottom: 5px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    color: #666;
}

.contenedor_form_datos_reco input {
    padding: 8px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contenedor_form_datos_reco input:disabled {
    background-color: #f4f4f4;
    color: #999;
}

.table_head_asig,
.table_body_volunter_asig {
    font-family: "Roboto", sans-serif;
}

.table_head_asig td {
    color: white;
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(to right, #878ffc, #858cf7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.table_body_volunter_asig td {
    font-size: 13.5px;
    background-color: #ffffff;
    text-align: center;
}

.text_negate {
    color: #f50707;
    font-weight: normal;
    text-align: center;
}

.text_processing {
    color: rgb(77, 77, 243);
    font-weight: normal;
    text-align: center;
}

.text_acept {
    color: #53a862;
    font-weight: normal;
    text-align: center;
}

.btn_recoger {
    margin: 1rem;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(231, 193, 193, 0.5);
    letter-spacing: 0.5px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #858cf7;
}

.btn_recoger:hover {
    cursor: pointer;
    background-color: #5c66f3;
}